
# You shouldn't edit these files, as they're generated automatically from bw.js by build scripts.
# Please read https://github.com/bw/bw/blob/master/CONTRIBUTING.md#multilanguage-support for details.
#
.vscode
build/bw.wiki
node_modules/
npm-debug.log
.DS_Store
config.js
config.py
config.php
bw.egg-info/
tmp/
*.pyc
.tox/
coverage
.nyc_output
travis-keys.sh
exchanges.json
bw.sublime-workspace
.idea
yarn.lock
keys.local.json
nbproject/
vendor/
python/build
python/dist
python/package-lock.json
python/package.json
python/keys.json
python/LICENSE.txt
.env
*.swp
